$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
$hover-bg: rgba(208, 208, 208, 0.403);
$context-menu-bg: white;
$context-menu-hover-bg: rgba(208, 208, 208, 0.403);
$context-menu-width: 190px;
$node-height: 32px;
$aside-width: 290px;
$icon-width: 20px;
$border-radius: 4px;
