@import '../../styles/variables';
@import '../../styles/mixins';

.context-bg {
    background: transparent;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
  }
  
  .context-menu {
    position: fixed;
    width: $context-menu-width;
    display: flex;
    flex-direction: column;
    height: auto;
    z-index: 2;
    background-color: $context-menu-bg;
    border-radius: 12px;
    list-style: none;
    padding: 4px;
    @include box-shadow(rgba(99, 99, 99, 0.2) 0px 2px 8px 0px);
    button {
      width: 100%;
      height: $node-height;
      text-align: left;
      padding: 0 10px !important;
      border-radius: $border-radius;
      text-transform: capitalize;
      @include button-reset;
      @include transition(background-color);
      @include context-button-hover($context-menu-hover-bg);
    }
  }

  